[submodule "libraries/cpp_bus_driver"]
	path = libraries/cpp_bus_driver
	url = https://github.com/Llgok/cpp_bus_driver.git
[submodule "libraries/ICM20948_WE"]
	path = libraries/ICM20948_WE
	url = https://github.com/Llgok/ICM20948_WE.git
[submodule "libraries/codec2-arduino"]
	path = libraries/codec2-arduino
	url = https://github.com/blanu/codec2-arduino.git
